.places-wrap {
  max-height: 27vh;
  min-height: 210px;
  overflow-y: auto;
}

.places-wrap .list_item {
  position: relative;
  padding-right: 80px;
}

.places-wrap .list_item .save_button {
  position: absolute;
  right: 10px;
  top: 0%;
}

.mapContainer {
  position: relative;
  overflow: hidden;
}

.mapContainer .column {
  overflow-y: auto;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 40px;
  width: 250px;
  background: #fff;
  z-index: 999;
  background: #17a2b8;
  color: #fff;
  height: 450px;
  z-index: 1001;
  transform: translateX(-100%);
  transition: all 0.35s;
}

.mapContainer .column.open {
  transform: translateX(0);
}

.column .map_line_item {
  padding: 10px;
  cursor: pointer;
  margin-bottom: 12px;
  transition: all 0.35s;
}

.column .map_line_item:not(:first-of-type) {
  margin-top: -10px;
}

.column .map_line_item:hover {
  background: #3594a3;
}

.map_column_icon {
  cursor: pointer;
  position: absolute;
  top: 0;
  color: #fff;
  transition: all 0.35s;
  z-index: 9999;
}

.map_column_close {
  right: 0;
  z-index: 9998;
}

.map_column_open {
  display: none;
  left: 55px;
  top: 10px;
  background: #17a2b8;
  z-index: 1000;
}

.map_column_open.show {
  display: block;
}

.map_column_icon:hover {
  color: #fff;
  opacity: 0.6;
}

.files input {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset 0.15s ease-in-out,
    background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  padding: 120px 0px 85px 35%;
  text-align: center !important;
  margin: 0;
  width: 100% !important;
}
.files input:focus {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset 0.15s ease-in-out,
    background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  border: 1px solid #92b0b3;
}
.files {
  position: relative;
}
.files:after {
  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 50px;
  right: 0;
  height: 56px;
  content: "";
  background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
}
.color input {
  background-color: #f1f1f1;
}
.files:before {
  position: absolute;
  bottom: 0px;
  left: 0;
  pointer-events: none;
  width: 100%;
  right: 0;
  height: 57px;
  content: " or drag it here. ";
  display: block;
  margin: 0 auto;
  color: #2ea591;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}
